.employees {
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  .employee {
    margin: 0 1rem 2rem;
    flex: 1 1 30%;
    max-width: calc(25% - 2rem);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    @media(max-width: 1023px) {
      flex: 1 1 50%;
      max-width: calc(50% - 2rem);
    }
    @media(max-width: 767px) {
      flex: 1 1 100%;
      max-width: calc(100%);
    }

    &__ratio {
      width: 100%;
      padding-top: 100%; /* 1:1 Aspect Ratio */
      position: relative;
      transition: .3s ease-in-out;
      &:hover {
        .employee__overlay {
          opacity: 1;
        }
      }
    }
    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__content {
      color: white;
      font-weight: bold;
      padding: 1.5rem 1.5rem;
      font-size: 1.5em;
      p {
        line-height: 1.3;
        margin-bottom: 0;
      }
    }
    &__overlay {
      opacity: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      transition: .3s ease-in-out;
      flex-direction: column;
      @extend .employee__content;
      p {
        line-height: 1.3;
        margin-bottom: 0;
      }
    }
    &__detail {
      display: none;
    }
  }
}