.fancybox-close-small {
  border: none !important;
  width: 60px !important;
  top: 4rem !important;
  right: 1rem !important;
  height: 60px !important;
  @media (min-width: 1700px) {
    right: 50% !important;
    margin-right: -830px !important;
  }
  &:hover {
    &:after {
      background: none !important;
    }
  }

  &:after {
    color: #f07d00 !important;
    font-size: 8em !important;
    width: auto !important;
    height: auto !important;
    top: auto !important;
    position: inherit !important;
  }
}

.fancybox-slide {
  .mod_article {
    position: relative;
    width: 100%;
    padding: 4rem 1rem;

  }
  .employee {
    max-width: 1700px;
    margin: auto;
    &__detail {
      display: flex;
      flex-wrap: wrap;
      &__content {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 2em;
        line-height: 1.3;
        p {
          margin-bottom: 0;
        }
      }
      &__name, &__email {
        color: #f07d00;
      }
      &__projects {
        margin: 10rem -1rem 0 -1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @media(max-width:767px) {
          margin: 5rem 0 0 0;
        }
        h2 {
          width: 100%;
          margin: 0 1rem 4rem 1rem;
          @media(max-width:767px) {
            margin: 0 0 2rem 0;
          }
        }
      }
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &-container {
        width: 30%;
        margin-right: 2rem;
        @media(max-width:1023px) {
          width: auto;
          flex: 1 1 50%;
        }
        @media(max-width:648px) {
          width: auto;
          flex: 1 1 100%;
          margin: 5rem 0 2rem 0;
        }

      }
      figure {
        img {
          visibility: hidden;
          width: 100%;
          height: auto;
        }
      }
    }

    &__ratio {
      width: 100%;
      padding-top: 100%; /* 1:1 Aspect Ratio */
      position: relative;
    }
  }
  .project {
    flex: 1 1 30%;
    max-width: 30%;
    width: 100%;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media(max-width:1023px) {
      flex: 1 1 50%;
      max-width: calc(50% - 2rem);
    }
    @media(max-width:767px) {
      flex: 1 1 100%;
      max-width: calc(100%);
      margin: 1rem 0;
    }
    &__ratio {
      width: 100%;
      padding-top: 75%; /* 1:1 Aspect Ratio */
      position: relative;
    }
    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 2rem 2rem;
    }
    &__title {
      line-height: 1.3;
      max-width: 75%;
      color: white;
      font-size: 2em;
      font-weight: bold;
    }
  }
}
.fancybox-container {
  font-family: inherit !important;
}