.project-employees {
  margin: 4rem 0;
  .employee {
    flex: 1 1 20%;
    @media(max-width:1023px) {
      flex: 1 1 50%;
      max-width: calc(50% - 2rem);
    }
    @media(max-width:767px) {
      flex: 1 1 100%;
      max-width: calc(100%);
    }
    &__ratio {
      padding-top: 75%; /* 1:1 Aspect Ratio */
    }
    &__content {
      padding: 1rem 1.5rem;
      font-size: inherit;
    }
  }
}